@*@model LicenseUsagesListViewModel*@
@model LicenseUsagesStatisticListViewModel
    <h1>LicenseUsage</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Time</th>
            <th>AvgUsage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>9-10</td>
            <td>@Model.AvgUsage9_10 </td>

        </tr>
        <tr>
            <td>10-11</td>
            <td>@Model.AvgUsage10_11 </td>
        </tr>
        <tr>
            <td>11-12</td>
            <td>@Model.AvgUsage10_11 </td>
        </tr>
        <tr>
            <td>12-13</td>
            <td>@Model.AvgUsage12_13 </td>

        </tr>
        <tr>
            <td>13-14</td>
            <td>@Model.AvgUsage13_14 </td>
        </tr>
        <tr>
            <td>14-15</td>
            <td>@Model.AvgUsage14_15 </td>
        </tr>
        <tr>
            <td>15-16</td>
            <td>@Model.AvgUsage15_16 </td>
        </tr>
        <tr>
            <td>16-17</td>
            <td>@Model.AvgUsage16_17 </td>
        </tr>
        <tr>
            <td>17-18</td>
            <td>@Model.AvgUsage17_18 </td>
        </tr>
    </tbody>
</table>

